<!DOCTYPE html>
<html lang="en" ng-app="meuModulo">
       <!-- MODULO ANGULAR -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default para estudos com Angular</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./main.js"></script>
</head>
<body>  

    <div ng-controller="meuController"> 

        <h1>Interpolação com Lampadas</h1>

        <img src="lampada-{{lampada}}.png" alt="" srcset="">
<br><br>
        <button ng-click="acenderLampada()">
            Acender
        </button>

        <button ng-click="apagarLampada()">
            Apagar
        </button>

        <p>{{statusLampada()}}</p>
    </div>
    
</body>
</html>